In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vaishnavi\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\vaishnavi\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [257]:
import selenium
import pandas as pd
from selenium import webdriver

Question 1:

In [258]:
driver = webdriver.Chrome("chromedriver.exe")

url= "https://www.naukri.com/"
driver.get(url)

In [259]:
search_job= driver.find_element_by_id('qsb-keyword-sugg')

search_job.send_keys('Data Analyst')

In [261]:
search_loc= driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [262]:
search_button= driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [263]:
job_title = []
company_name = []
experience = []

In [264]:
title_tag= driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']")

In [265]:
for i in title_tag:
    job_title.append(i.text)
#Displaying top 10 search.
job_title[:10]

['Data Analyst / Data Scientist / Business Analytics / Fresher / MNC OSC',
 'Senior Data Analyst',
 'Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Business Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Senior Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer']

In [266]:
company_tag= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tag:
    company_name.append(i.text)
company_name[:10]

['GABA Consultancy services',
 'Gaussian Networks Private Limited',
 'Tata Consultancy Services Ltd.',
 'Trigent Software',
 'Trigent Software',
 'AVE-Promagne',
 'Virtusa Consulting Services Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED']

In [267]:
exp_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in exp_tag:
    experience.append(i.text)
experience[:10]

['0-0 Yrs',
 '3-5 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '8-12 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '4-9 Yrs']

In [272]:
Location=[]
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location:
    Location.append(i.text)
Location[:10]

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru\n(WFH during Covid)']

In [274]:
dataanalyst_jobs= pd.DataFrame({})
dataanalyst_jobs['Title'] = job_title[:10]
dataanalyst_jobs['Company name'] = company_name[:10]
dataanalyst_jobs['Experince'] = experience[:10]
dataanalyst_jobs['Location'] = Location[:10]

In [275]:
dataanalyst_jobs

,Title,Company name,Experince,Location
0,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
1,Senior Data Analyst,Gaussian Networks Private Limited,3-5 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,6-11 Yrs,"Chennai, Bangalore/Bengaluru"
3,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
4,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
5,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,8-12 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
7,Tcs Hiring For MDM (master data management) Da...,Tata Consultancy Services Ltd.,6-11 Yrs,"Chennai, Bangalore/Bengaluru"
8,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Bangalore/Bengaluru
9,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."

Question 2:

In [276]:
driver = webdriver.Chrome("chromedriver.exe")

url= "https://www.naukri.com/"
driver.get(url)

In [277]:
job_title2 = []
company_name2 = []
experience2 = []
days_of_posting2 = []

In [278]:
search_job= driver.find_element_by_id('qsb-keyword-sugg')

In [280]:
search_job.send_keys('Data Scientist')

In [279]:
search_loc= driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [281]:
search_button= driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [282]:
title_tag2= driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']")

In [283]:
for i in title_tag2:
    job_title2.append(i.text)
#Displaying top 10 search.
job_title2[:10]

['Hiring For Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist BFSI',
 'Data Analyst / Data Scientist / Business Analytics / Fresher / MNC OSC',
 'Data Scientist - I / II',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Hiring For Data Scientist',
 'Senior Data Scientist']

In [284]:
company_tag2= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [285]:
for i in company_tag2:
    company_name2.append(i.text)
company_name2[:10]

['Tata Consultancy Services Ltd.',
 'Brillio',
 'Allegis Services India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'GABA Consultancy services',
 'Sharechat',
 'Allegis Services India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Tata Consultancy Services Ltd.',
 'Walmart Labs']

In [287]:
Location1=[]
location1= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location1:
    Location1.append(i.text)
Location1[:10]

['Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru']

In [288]:
Description=[]
description= driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
for i in description:
    Description.append(i.text)
Description[:10]

['Solid grounding in at least one of the following is a must: Machine Learning, Deep Lear...',
 'Experience using statistical computer language Python to manipulate data and draw insig...',
 'Proficient in writing optimized query using any one of the DB query language (Hive / Im...',
 'IntroductionSoftware Developers at IBM are the backbone of our strategic initiatives to...',
 'Only Fresher Can Apply:.Description Good in analytics',
 'Experience with multi threaded implementations utilizing computer units like multi core...',
 'Proficient in writing optimized query using any one of the DB query language (Hive / Im...',
 'PhD / Masters in STEM-related fields with knowledge in Quantum ComputingRequired Techni...',
 'Minimum 3 year of experience in being Applied Machine Learning Engineer roleExperience ...',
 'As a Senior Data Scientist for Walmart, you ll have the opportunity to: Drive data-deri...']

In [289]:
datascience_jobs= pd.DataFrame({})
datascience_jobs['Title'] = job_title2[:10]
datascience_jobs['Company name'] = company_name2[:10]
datascience_jobs['Location'] = Location1[:10]
datascience_jobs['Description'] = Description[:10]

In [290]:
datascience_jobs

,Title,Company name,Location,Description
0,Hiring For Senior Data Scientist,Tata Consultancy Services Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Solid grounding in at least one of the followi...
1,Data Scientist,Brillio,Bangalore/Bengaluru,Experience using statistical computer language...
2,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Proficient in writing optimized query using an...
3,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bengaluru/Bangalore,IntroductionSoftware Developers at IBM are the...
4,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Only Fresher Can Apply:.Description Good in an...
5,Data Scientist - I / II,Sharechat,Bangalore/Bengaluru,Experience with multi threaded implementations...
6,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Proficient in writing optimized query using an...
7,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,PhD / Masters in STEM-related fields with know...
8,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru, Mumbai (All Area...",Minimum 3 year of experience in being Applied ...
9,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,"As a Senior Data Scientist for Walmart, you ll..."

Question 3:

In [291]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

In [292]:
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

In [293]:
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   
search_field_designation.send_keys("Data Scientist")

In [294]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [295]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [297]:
loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]")
loc.click()

In [298]:
salary_chkbx=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]")
salary_chkbx.click()

In [302]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title[:10]:
    job_title.append(i.text)
job_title[:10]

['Data Scientist/ Machine Learning Engineer',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist / Data Analyst',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Insurance',
 'Data Scientist - WFH - MIND Infotech',
 'Junior Data Scientists & Engineers']

In [304]:
c_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in c_name:
    company_name.append(i.text)
company_name[:10]

['Creative Hands HR Consultancy',
 'GABA Consultancy services',
 'CARS24',
 'GABA Consultancy services',
 'GABA Consultancy services',
 'R Systems International Ltd.',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'Huquo Consulting Pvt. Ltd',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'PY Consultancy']

In [307]:
location2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location2:
    job_location.append(i.text)
job_location[:10]

['Hyderabad/Secunderabad, Pune, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Ghaziabad, Faridabad, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Noida\n(WFH during Covid)',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'Noida, Gurgaon/Gurugram',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Delhi / NCR']

In [321]:
exp=[]
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    exp.append(i.text)
exp[:10]

['0-0 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '0-3 Yrs']

In [326]:
df=pd.DataFrame({})
df['job_title']=job_title[:10]
df['experience_required']=exp[:10]
df['company_name']=company_name[:10]
df['job_location']=job_location[:10]
df

,job_title,experience_required,company_name,job_location
0,Data Scientist/ Machine Learning Engineer,0-0 Yrs,Creative Hands HR Consultancy,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga..."
1,Data Scientist / Data Analyst / Business Analy...,0-0 Yrs,GABA Consultancy services,"Ghaziabad, Faridabad, Delhi / NCR"
2,Data Scientist / Data Analyst,1-5 Yrs,CARS24,Gurgaon/Gurugram
3,Only Fresher / Data Scientist / Data Analyst /...,0-0 Yrs,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR"
4,Data Scientist / Data Analyst / Business Analy...,0-0 Yrs,GABA Consultancy services,"Noida, New Delhi, Gurgaon/Gurugram"
5,Data Scientist,3-6 Yrs,R Systems International Ltd.,Noida\n(WFH during Covid)
6,Data Scientist,1-3 Yrs,PROCESS NINE TECHNOLOGIES PVT.LTD.,Gurgaon/Gurugram\n(WFH during Covid)
7,Data Scientist - Insurance,2-7 Yrs,Huquo Consulting Pvt. Ltd,"Noida, Gurgaon/Gurugram"
8,Data Scientist - WFH - MIND Infotech,3-7 Yrs,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC..."
9,Junior Data Scientists & Engineers,0-3 Yrs,PY Consultancy,"New Delhi, Delhi / NCR"

Question 4:

In [338]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.glassdoor.co.in/member/home/index.htm"
driver.get(url)

In [339]:
search_job = driver.find_element_by_xpath('//input[@id="sc.keyword"]')
search_job.send_keys("Data Scientist")

In [340]:
search_loc = driver.find_element_by_xpath('//input[@id="sc.location"]')
search_loc.send_keys("Noida")

In [341]:
search_btn = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]')
search_btn.click()

In [356]:
name=[]
job_names = driver.find_elements_by_xpath("//a[@class='jobLink job-search-key-1rd3saf eigr9kq1']/span[1]")
for i in job_names:
    name.append(i.text)
name[:10]

['Data Analytics part time job/internship at Noida',
 'Data Scientist',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist Intern',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [357]:
job_age = driver.find_elements_by_xpath('//div[@data-test="job-age"]')
time = []
for i in job_age[:10]:
    time.append(i.text)

In [359]:
time[:10]

['5d', '20d', '30d+', '30d+', '30d+', '7d', '30d+', '15d', '30d+', '30d+']

In [367]:
job_rating = driver.find_elements_by_xpath('//span[@class=" job-search-key-srfzj0 e1cjmv6j0"]')
rating = []
for i in job_rating[:10]:
    rating.append(i.text)
    
rating

['3.9', '3.9', '3.6', '4.2', '3.3', '4.1', '3.8', '3.5', '3.0', '5.0']

In [369]:
df = pd.DataFrame({})
df['Company Name']=name[:10]
df['Job posted duration']=time[:10]
df['Rating']=rating[:10]
df

                                       Company Name Job posted duration Rating
0  Data Analytics part time job/internship at Noida                  5d    3.9
1                                    Data Scientist                 20d    3.9
2                          Associate Data Scientist                30d+    3.6
3                                    Data Scientist                30d+    4.2
4                             Data Scientist Intern                30d+    3.3
5                                    Data Scientist                  7d    4.1
6                                    Data Scientist                30d+    3.8
7                                    Data Scientist                 15d    3.5
8                                    Data Scientist                30d+    3.0
9                                    Data Scientist                30d+    5.0

Question 5:

In [370]:
driver= webdriver.Chrome("chromedriver.exe")

url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [371]:
search_job= driver.find_element_by_id('KeywordSearch')

search_job.send_keys('Data Scientist')

In [372]:
search_loc= driver.find_element_by_id('LocationSearch')
search_loc.send_keys('Noida')

In [373]:
search_button= driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_button.click()

In [387]:
title =[]
company =[]
minsal =[]
maxsal =[]
avgsal =[]

In [388]:
title_tag= driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

In [389]:
for i in title_tag:
    title.append(i.text)

In [391]:
title[:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service']

In [400]:
avg_sal = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")

In [401]:

for i in avg_sal:
    avgsal.append(i.text)

#Displaying top 10 search.
avgsal[:10]

['₹6,28,021',
 '₹9,08,246',
 '₹11,93,390',
 '₹xx,xx,xxx',
 '₹x,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹x,xx,xxx',
 '₹xx,xx,xxx']

In [405]:

salarymin= driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")

In [406]:

for i in salarymin:
    minsal.append(i.text)


minsal[:10]

['Range: ₹4L - ₹13L',
 'Range: ₹1L - ₹28L',
 'Range: ₹6L - ₹23L',
 'Range: ₹xL - ₹xCr',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xxL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL']

In [412]:
df= pd.DataFrame({})
df['Title'] = title[:10]

df['Average salary'] = avgsal[:10]
df['min-max salary range']=minsal[:10]

df

                       Title Average salary min-max salary range
0  Tata Consultancy Services      ₹6,28,021    Range: ₹4L - ₹13L
1                        IBM      ₹9,08,246    Range: ₹1L - ₹28L
2                  Accenture     ₹11,93,390    Range: ₹6L - ₹23L
3                  Delhivery     ₹xx,xx,xxx    Range: ₹xL - ₹xCr
4         Ericsson-Worldwide      ₹x,xx,xxx    Range: ₹xL - ₹xxL
5         UnitedHealth Group     ₹xx,xx,xxx    Range: ₹xL - ₹xxL
6                      Optum     ₹xx,xx,xxx    Range: ₹xL - ₹xxL
7     Optum Global Solutions     ₹xx,xx,xxx   Range: ₹xxL - ₹xxL
8         Valiance Solutions      ₹x,xx,xxx    Range: ₹xL - ₹xxL
9                EXL Service     ₹xx,xx,xxx    Range: ₹xL - ₹xxL

Question 6:

In [218]:
import time
driver= webdriver.Chrome("chromedriver.exe")

url="https://www.flipkart.com/"
driver.get(url)

In [219]:
search_bar= driver.find_element_by_name("q")
search_bar.send_keys("sunglasses")

In [220]:
search_but= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_but.click()

In [221]:
brand =[]
details =[]
price =[]
discount =[]

In [222]:
urls =[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        urls.append(j.get_attribute('href'))
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [223]:
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class= '_2WkVRV']"):
        brand.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        details.append(k.text)
    for m in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(m.text)
    for n in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount.append(n.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [225]:
sunglass_data=pd.DataFrame({})
sunglass_data['Brand']= brand[:100]
sunglass_data['Product Details'] = details[:100]
sunglass_data['Price']= price[:100]
sunglass_data['Discount']= discount[:100]

In [226]:
sunglass_data

,Brand,Product Details,Price,Discount
0,Singco India,UV Protection Aviator Sunglasses (Free Size),₹334,72% off
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹854,5% off
2,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,239",4% off
3,ROYAL SON,Polarized Retro Square Sunglasses (58),₹854,57% off
4,OCCARIO,Others Round Sunglasses (52),₹179,69% off
...,...,...,...,...
95,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹449,77% off
96,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹331,79% off
97,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹217,80% off
98,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
99,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹225,67% off

Question 7:

In [417]:
import time
driver= webdriver.Chrome("chromedriver.exe")
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [422]:
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')
prod_urls=[]
for i in url[:11]:
    prod_urls.append(i.get_attribute('href'))

In [423]:
phone_rating = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for j in prod_rating:
            phone_rating.append(j.text)
    except:
        phone_rating.append("---")

In [424]:
phone_summary = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_summaries = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for j in prod_summaries:
            phone_summary.append(j.text)
    except:
        phone_summary.append("---")

In [425]:
full_review = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for j in prod_reviews:
            full_review.append(j.text.replace("\n"," "))
    except:
        full_review.append("---")

In [426]:
df = pd.DataFrame({})
df['iPhone Rating']=phone_rating[:100]
df['iPhone Short Summary']=phone_summary[:100]
df['iPhone Full Review']=full_review[:100]
df

,iPhone Rating,iPhone Short Summary,iPhone Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,The ultimate performance Camera is superb The ...
96,3,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good As far as camera ...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...

Question8:

In [170]:
driver= webdriver.Chrome("chromedriver.exe")

url="https://www.flipkart.com/"
driver.get(url)

In [171]:
search_bar= driver.find_element_by_name("q")
search_bar.send_keys("sneakers")

In [172]:
search_but= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_but.click()

In [175]:
urls =[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        urls.append(j.get_attribute('href'))
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [176]:
brand1 =[]
details1 =[]
price1 =[]
discount1 =[]

for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class= '_2WkVRV']"):
        brand1.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        details1.append(k.text)
    for m in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price1.append(m.text)
    for n in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount1.append(n.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [177]:
sneakers_data = pd.DataFrame({})
sneakers_data['Brand']= brand1[:100]
sneakers_data['Product Details'] = details1[:100]
sneakers_data['Price']= price1[:100]
sneakers_data['Discount %']= discount1[:100]

sneakers_data

,Brand,Product Details,Price,Discount %
0,Zsyto,SM-675 Sneakers For Men,₹398,69% off
1,SPARX,"Casual , Partywear Sneakers Shoes For Men's An...",₹692,23% off
2,D-SNEAKERZ,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹384,61% off
3,VIPSJAZZY,shoe Sneakers For Men,₹429,57% off
4,Chevit,Synthetic Leather Casual Partywear Wedding Sne...,₹322,67% off
...,...,...,...,...
95,Echor,Unique & Perfect Collection Combo Pack of 02 S...,₹429,57% off
96,Jokatoo,ABSOLUTEE SHOES ORANGE GYM SHOE FOR MEN Sneake...,₹445,69% off
97,Robbie jones,Lazy Knit Slip On IDP Sneakers For Men,₹399,60% off
98,D-SNEAKERZ,Sneakers For Men,₹346,65% off
99,Echor,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹399,60% off

Question9:

In [149]:
driver=webdriver.Chrome("chromedriver.exe")

url = "https://www.myntra.com/shoes"
driver.get(url)

In [150]:
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [151]:
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [152]:
url = driver.find_elements_by_xpath('//li[@class="pagination-number"]//a')

In [153]:
shoe_urls=[]
for i in url[:5]:
    shoe_urls.append(i.get_attribute('href'))

In [154]:
sbrand = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_brand = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]//h3')
        for j in shoe_brand:
            sbrand.append(j.text)
    except:
        sbrand.append("---")

In [155]:
sdescriptn = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_descriptn = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]//h4')
        for j in shoe_descriptn:
            sdescriptn.append(j.text)
    except:
        sdescriptn.append("---")
description=[]
for i in range(0, len(sdescriptn), 2):
    description.append(sdescriptn[i])

In [167]:
sprice = []
for i in shoe_urls[:10]:
    driver.get(i)
    try:
        shoe_price = driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
        for j in shoe_price:
            sprice.append(j.text)
    except:
        sprice.append("---")

In [168]:
print("Lengths of columns:", len(sbrand), len(description), len(sprice))

Lengths of columns: 250 250 48

In [169]:
df = pd.DataFrame({})
df['Shoe Brand']=sbrand[:48]
df['Shoe Description']=description[:48]
df['Shoe Price']=sprice[:48]
df

              Shoe Brand                     Shoe Description Shoe Price
0                   ALDO  Men Solid Leather Formal Monk Shoes  Rs. 10355
1                Saint G      Men Solid Leather Formal Derbys  Rs. 11199
2         ROSSO BRUNELLO                         Men Sneakers   Rs. 7192
3              J.FONTINI        Women GlideRide Running Shoes   Rs. 6993
4                  ASICS               Men Leather Flat Boots   Rs. 7006
5                Saint G           Women Leather Heeled Boots   Rs. 7039
6   Heel & Buckle London                 Women Peep Toe Heels   Rs. 7999
7   Heel & Buckle London       Women Solid Leather Gladiators   Rs. 7773
8    KIPRUN By Decathlon                  Women Running Shoes  Rs. 11242
9                   Puma           Women Provoke XT FTR Shoes   Rs. 6993
10                  Puma       Women Fuse Moto Training Shoes  Rs. 10493
11             Cole Haan          Men Wingtip Oxford Sneakers   Rs. 7192
12             Cole Haan  Men GENERATION ZEROGRAND STITCHLITE  Rs. 10345
13  Quechua By Decathlon                   Men Trekking Shoes   Rs. 7343
14             Cole Haan                     Leather Sneakers   Rs. 9513
15                VIONIC                Men Textured Sneakers   Rs. 9975
16             J.FONTINI            Men Solid Leather Loafers   Rs. 8499
17             J.FONTINI         Men Textured Leather Loafers  Rs. 10399
18             J.FONTINI         Men Textured Leather Loafers  Rs. 11305
19                  Nike         Women Air Zoom Running Shoes   Rs. 9513
20       PUMA Motorsport          Men Leather Formal Slip-Ons   Rs. 8399
21                  Geox       Unisex BMW MMS RS-FastSneakers   Rs. 7999
22  Kalenji By Decathlon               Men KD500 Running Shoe   Rs. 9975
23                  Puma                    Men Running Shoes   Rs. 9093
24                 ASICS       Men Black Running Sports Shoes   Rs. 6999
25                  Geox          Men Leather Formal Slip-Ons   Rs. 7400
26               Saint G           Women Leather Heeled Boots   Rs. 6993
27               Saint G           Women Leather Heeled Boots   Rs. 9799
28  Heel & Buckle London            Women Solid Leather Heels   Rs. 6969
29               Saint G                   Women Heeled Boots   Rs. 7499
30               Bugatti              Men Black Walking Shoes   Rs. 6993
31               Bugatti                    Men Walking Shoes   Rs. 8253
32               Bugatti                    Men Running Shoes   Rs. 8792
33          Kenneth Cole                  Women Leather Pumps   Rs. 9599
34             J.FONTINI         Men Textured Leather Loafers   Rs. 7799
35                  Geox                   Men Solid Sneakers   Rs. 7799
36                  Geox            Men Leather Driving Shoes   Rs. 7199
37                  ALDO                 Women Solid Sneakers   Rs. 7149
38             Cole Haan      Men Solid Leather Formal Derbys   Rs. 7799
39             Florsheim                 Women Open Toe Flats  Rs. 11999
40                 Ruosh       Men Solid Leather Formal Monks   Rs. 8953
41  Heel & Buckle London                  Women Leather Pumps   Rs. 9599
42                  Puma         Unisex Mirage Sport Trainers   Rs. 7192
43                  Puma         Unisex Pacer Future Sneakers   Rs. 8249
44                  Nike            Men REACT MILER 2 Running   Rs. 7693
45             J.FONTINI    Men Solid Leather Formal Slip-Ons   Rs. 7499
46                  ALDO    Men Solid Leather Formal Slip-Ons   Rs. 8094
47             J.FONTINI          Women Woven Design Sneakers   Rs. 9513

Question10:

In [21]:
url="https://www.amazon.in/"
driver.get(url)

In [22]:
search_keyword=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
search_keyword.send_keys("Laptop")

In [23]:
click_search=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
click_search.click()

In [41]:
i7=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']//span")
for i in i7:
    if i.text=='Intel Core i7':
        i.click()
        break

In [46]:
i9=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']//span")
for i in i9:
    if i.text=='Intel Core i9':
        i.click()
        break

In [48]:
lap_title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
lap_title

[<selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="40644add-6f00-4a59-bf64-a14d5b8ed350")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="cf05c9e3-2c88-4661-b714-532dede35c74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="396c2d5e-19e7-47c2-b675-d0c383780ac9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="75fa2fdc-e03f-476e-9f5a-4680a24e3e2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="e0d925d5-4847-4396-8815-b8a3acffdd2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="a5354e6e-060f-4457-b9b1-3f9acf666884")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="03064434-16b9-4618-8fd0-dbc5f3127c57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="23951f9f-db12-4dfb-8a8a-ebe2a52522c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="e401d72c-64fb-423b-ba48-57ffb13f09ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="99cd1a50-f2c1-48ac-853f-604b5f6579d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="9700da7b-59e8-46b0-80f2-aa3d414ac0f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="f72f41b0-680e-4757-81b4-51eaebd5222e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="43b344d1-7cb9-405d-80f1-4b7d97d0768f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="53094b35-19d3-4789-8604-bc0c3e7dbbe8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="3f209267-0802-43a7-8655-4deecda85dfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="ace1c564-4295-4249-97c0-37f46d9dfe49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="3f252a14-b56c-44a2-97f0-27ee7ce997fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="0e1e7687-b522-4133-92e6-9525a8a70ca2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="7c34847c-ae00-4b40-8812-0370b20e3626")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="447ab27e-f76a-401c-b3c4-75f3707ea94d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="c97bb7a7-813b-43bf-a1e0-e5b881de889e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="cfe7364f-57a3-4824-8584-c284cf7a9ca1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="94d9fc2c-54f8-410d-86dc-0bf548249239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="dc421c34-36d8-4642-ae87-64c59806fd83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="7acf0da5-e51e-4dba-bc85-6f22df277e1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="2acb4f1b-0b56-4e8e-865b-cab1bdc70853")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="2f1cebfa-5821-4825-9928-c00b74e881dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="72f7c2e0-dc66-4951-b174-4526affc5e05")>]

In [51]:
Lap_titles=[]
for i in lap_title[:10]:
    Lap_titles.append(i.text)
Lap_titles

['Dell XPS 9370 13.3-inch FHD Display Thin & Light Laptop (8th Gen i7-8550U/16GB/512GB SSD/Win 10 + MS Office/Integrated Graphics), Gold',
 'Acer Nitro 5 Intel Core i7 10750H 15.6" FHD IPS 144Hz Display Thin and Light Gaming Laptop (8GB Ram/1TB HDD + 256 GB SSD/Windows 10 Home /GTX 1650Ti Graphics/Obisidian Black/2.3 kgs),AN515-55',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg), 82BH00E0IN',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6" FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'HP Pavilion Gaming 11th Gen Intel Core i7 15.6-inch(39.6 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/144Hz/GTX 1650 4GB Graphics/Win 10/MS Office/Shadow Black/2.28 Kg), 15-dk2075tx',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/Gray/2 kg), FX516PC-HN063T']

In [58]:
lap_price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
lap_price

[<selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="2082c812-d8e1-477c-9ad3-ddc590ceb7b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="1f0912e6-b79a-47f2-9dc1-b485097fab45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="413714c1-2c88-447e-8f30-cc5faed770ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="94ba7040-bc00-432d-8934-ae3282b77183")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="8365fdaa-46b3-47e5-adad-50f75ef37f5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="054eed03-7fa2-4bb7-a632-33c40e1dbabe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="80db1170-a142-4185-883d-e439eb40f13c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="3c303688-d425-486f-8c86-90b39dec722e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="22a0d4e2-1129-4f25-84fd-b8d70b001569")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="a9844367-31fa-427b-a986-dc88d8b543cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="d418b12e-10b1-45ac-81d5-759e4a020890")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="6c634893-3eb1-410a-86ab-f66d4ff3962d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="05856fb9-5a39-423c-ac1b-3b76284eb32c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="9e9b3f58-cf5a-4e72-8274-2c0ac4e9d680")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="ae0bcdb2-98f2-4054-a677-b6c5172b76e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="7fffae02-c287-4dc5-b2aa-6c887d2363e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="009b4168-1870-4fc6-96b4-1fccce4549c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="8bff4bfe-f927-4d99-a5b2-48d20355a309")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="200aa636-7231-4180-ba7b-2bf66de643d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="73b705f4-5b32-4171-b5a8-6da421217638")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="63184686-68bf-4d01-adc3-a398a5edaccb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="45e8e15f-9993-4eb0-a08f-20d9fe96242e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="1d1a151e-cea6-444b-bb95-ec194abd8d76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="64c43917-7986-4c1f-8645-8df0b561b667")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="eb3beb03-f12e-49b3-aad1-216937d77b70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="75b4df4d-40bb-478e-b4c5-c6e8f841a116")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="96017312-4e57-45ab-a785-ff597dc25bc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cdd80c2f0741e87edcf97344d1efd4da", element="696ffe7a-2d90-443c-a5af-db5898451016")>]

In [61]:
Lap_prices=[]
for i in lap_price[:10]:
    Lap_prices.append(i.text)
Lap_prices

['1,14,990',
 '82,990',
 '77,990',
 '57,990',
 '81,990',
 '97,989',
 '92,990',
 '73,990',
 '89,990',
 '84,990']

In [81]:
lap_ratings=[]
lap_rating = driver.find_elements_by_class_name("a-icon-alt")
for i in lap_rating[:10]:
    lap_ratings.append(i.get_attribute('textContent'))

In [82]:
df=pd.DataFrame({})
df['Laptop_Title']=Lap_titles
df['Price']=Lap_prices
df['Rating']=lap_ratings
df

,Laptop_Title,Price,Rating
0,Dell XPS 9370 13.3-inch FHD Display Thin & Lig...,"1,14,990",2.8 out of 5 stars
1,"Acer Nitro 5 Intel Core i7 10750H 15.6"" FHD IP...","82,990",4.3 out of 5 stars
2,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,"77,990",4.3 out of 5 stars
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"57,990",4.2 out of 5 stars
4,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....","81,990",4.2 out of 5 stars
5,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" Full ...","97,989",2.4 out of 5 stars
6,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,"92,990",5.0 out of 5 stars
7,Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...,"73,990",4.4 out of 5 stars
8,HP Pavilion Gaming 11th Gen Intel Core i7 15.6...,"89,990",3.7 out of 5 stars
9,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...","84,990",3.8 out of 5 stars